*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to right, #184E77, #184E77);
    color: white;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.wrapper{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    max-width: 1920px;
    min-height: 100vh;
}

.aurora-container{
    position: fixed;
    margin: auto;
    width: 100vw;
    z-index: -1;
}

#gradient1{
    position: relative;
    float: right;
    right: -100px;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background: rgba(52, 160, 164, 0.5);
    filter: blur(100px);
}

#gradient2{
    position: relative;
    float: left;
    top: 300px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: rgba(82, 182, 154, 0.3);
    filter: blur(100px);
}

#gradient3{
    position: relative;
    float: left;
    left: -300px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: rgba(168, 203, 193, 0.5);
    filter: blur(50px);
}

.nav{
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: rgba(143, 150, 180, 0.0);
    width: 85%;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
    backdrop-filter: blur(10px);
}

.nav-list{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    background-color: transparent;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.nav-item:hover{
    background-color: rgba(210, 210, 210, 0.4);

}

.nav-item{
    list-style: none;
    white-space: nowrap;
    padding: 20px 60px 20px 60px;
    transition: 0.1s;
}

a{
    color: white;
    text-decoration: underline 1px rgba(255, 255, 255, 0);
    transition: text-decoration-color 300ms;
}

a:hover{
    text-decoration-color: rgba(255, 255, 255, 1);
}


.header-container{
    position: relative;
    top: 150px;
    height: 1000px;
}

h1{
    font-family: 'Yeseva One', cursive;
    font-size: 100px;
    font-weight: normal;
    position: relative;
    z-index: 1;
    text-align: left;
    margin: 0 auto;
    margin-left: 250px;
    top: 40px;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 200;
    max-width: 900px;
    top: 120px;
    text-align: left;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    margin-left: 250px;
}

.imagecontainer{
    position: relative;
    top: -120px;
    width: 100%;
    height: 885px;
    max-width: 1920px;
    background-size: cover;
    background-image: url("media/final.svg");
    background-repeat: no-repeat;
}


.eat{
    overflow: hidden;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 550px;
}

#eatcontainer:hover{
    transform: scale(1.05);
    z-index: 1;
}

.textbox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: 200;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3px);
    width: 500px;
}


#eatcontainer{
    position: relative;
    text-align: center;
    transition: 0.1s;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    cursor: pointer;
    background-image: url("media/spencer-davis-W_GSHCi0cR8-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -250px, 0px;
    box-shadow: 10px 0 5px -2px #0000003b;
}


#drinkcontainer{
    position: relative;
    text-align: center;
    transition: 0.1s;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    cursor: pointer;
    background-image: url("media/kelsey-knight-udj2tD3WKsY-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -100px, 0px;
    box-shadow: 10px 0 5px -2px #0000003b;
}

#drinkcontainer:hover{
    transform: scale(1.05);
    z-index: 1;
}


#eventscontainer{
    position: relative;
    text-align: center;
    transition: 0.1s;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    cursor: pointer;
    background-image: url("media/al-elmes-ULHxWq8reao-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -200px, 500px;
    box-shadow: 10px 0 5px -2px #0000003b;
}

#eventscontainer:hover{
    transform: scale(1.05);
    z-index: 1;
}


.aboutglenview{
    margin: 0 auto;
    position: relative;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1000px;
}

.membership{
    margin: 0 auto;
    position: relative;
    height: 100px;
    background: linear-gradient(45deg, #386d95, #229e7d);
    background-size: 200%;
    text-decoration: none;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    transition-duration: 0.4s;
    top: 100px;
    box-shadow: 3px 3px 5px 2px #0000003b;
}

.membership:hover{
    transform: scale(1.05);
    background-size: 100%;
}

.eventswrapper{
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 500px;
    margin-top: 200px;
    margin-bottom: 200px;
}

.eventsbox{
    display: flex;
    flex-direction: row;
}

.eventitem{
    border: 1px solid white;
}

#eventitem1{
    height: 430px;
    width: 500px;
}

#eventitem2{
    height: 430px;
    width: 500px;
}

#eventitem3{
    height: 430px;
    width: 500px;
}

h3{
    font-size: 40px;
    font-weight: 200;
    top: 30%;
    left: 50%;
    border-bottom: 1px solid white;
    line-height: 66px;
}

#aboutthe{
    line-height: 50%;
    font-size: 15px;
}

#becomea{
    font-size: 15px;
    color: white;
    font-weight: 200;
}

#member{
    font-size: 40px;
    color: white;
    font-weight: 200;
    width: 200px;
}

#aboutthedescription{
    margin: 0 auto;
    max-width: 1000px;
    font-weight: 200;
    font-size: 16px;
    text-align: justify;
}


.footer{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 225px;
    background-color: #144265;
    width: 100%;
}

.footerleft{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    text-align: left;
}

#footertitle{
    float: left;
    margin-left: 20px;
    margin-top: 18px;
    font-size: 20px;
}

#footerphone{
    float: left;
    margin-left: 20px;
    font-size: 15px;
    text-decoration: underline;
    color: white;
    width: 250px;
}

#footerinfo{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 15px;
}

.footernav{
    font-size: 20px;
    font-weight: 200;
}


#footernavtitle{
    text-decoration: underline;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 200;
    text-align: start;
}

#footernavlist{
    margin-top: 10px;
    text-align: start;
    text-decoration: none;
    font-weight: 200;
    list-style: none;
}

/*
media queries
*/
/*
macbook air screen size
*/
@media screen and (max-width: 1440px){

    .wrapper{
        max-width: 1440px;
    }

    .imagecontainer{
        position: relative;
        top: -80px;
        height: 700px;
        max-width: 1440px;
        background-size: contain;
        background-image: url("media/final.svg");
        background-repeat: no-repeat;
    }
}

/*ipad screen size*/
@media screen and (max-width: 810px){

    .wrapper{
        max-width: 810px;
    }

    .nav{
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: rgba(143, 150, 180, 0.0);
        width: 100%;
        border-radius: 0 0 10px 10px;
        margin: 0 auto;
        backdrop-filter: blur(10px);
    }
    
    .nav-list{
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
        background-color: transparent;
        margin: 0;
        padding: 1rem 0;
        display: flex;
        justify-content: space-around;
        white-space: nowrap;
    }
    
    .nav-item{
        list-style: none;
        padding: 0px 10px 0px 10px;
    }
    
    a{
        color: white;
        text-decoration: underline 1px rgba(255, 255, 255, 0);
        transition: text-decoration-color 300ms;
    }

    .header-container{
        position: relative;
        height: 760px;
    }
    
    h1{
        font-family: 'Yeseva One', cursive;
        font-size: 80px;
        font-weight: normal;
        position: relative;
        top: -50px;
        z-index: 1;
        text-align: left;
        margin-left: 100px;
    }
    
    h2{
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        line-height: 24px;
        font-weight: 200;
        max-width: 625px;
        text-align: left;
        position: relative;
        z-index: 1;
        margin: 0 auto;
        margin-left: 100px;
        top: 0;
    }

    .imagecontainer{
        max-width: 810px;
        top: -50px;
    }

    .eat{
        padding: 0 18px;
        overflow: hidden;
        text-align: center;
        width: auto;
        background: linear-gradient(#89A13D, #184E77);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .textbox{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        font-weight: 200;
        background-color: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(3px);
        width: 100%;
    }
    
    
    #eatcontainer{
        position: relative;
        text-align: center;
        transition: 0.1s;
        margin: 0 auto;
        width: 810px;
        height: 200px;
        cursor: pointer;
        background-image: url("media/spencer-davis-W_GSHCi0cR8-unsplash.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0px 0px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    
    
    #drinkcontainer{
        position: relative;
        text-align: center;
        transition: 0.1s;
        margin: 0 auto;
        width: 810px;
        height: 200px;
        cursor: pointer;
        background-image: url("media/kelsey-knight-udj2tD3WKsY-unsplash.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0px, 0px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    
    
    #eventscontainer{
        position: relative;
        text-align: center;
        transition: 0.1s;
        margin: 0 auto;
        width: 810px;
        height: 200px;
        cursor: pointer;
        background-image: url("media/al-elmes-ULHxWq8reao-unsplash.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0px, 0px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .aboutglenview{
        margin: 0 auto;
        position: relative;
        padding-top: 300px;
        padding-bottom: 200px;
        max-width: 700px;
    }
}














/*
animations
*/
@keyframes colorchange{
    from{background-color: rgba(143, 150, 180, 0.0);}
    to{background-color:rgba(95, 100, 121, 0.2);}
}

@keyframes bounce{
    to { transform: scale(1.1); }
}
