*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to right, #184E77, #184E77);
    color: white;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.wrapper{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    max-width: 1920px;
    min-height: 100vh;
}

.aurora-container{
    position: fixed;
    margin: auto;
    width: 100vw;
    z-index: -1;
}

#gradient1{
    position: relative;
    float: right;
    right: -100px;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background: rgba(52, 160, 164, 0.5);
    filter: blur(100px);
}

#gradient2{
    position: relative;
    float: left;
    top: 300px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: rgba(82, 182, 154, 0.3);
    filter: blur(100px);
}

#gradient3{
    position: relative;
    float: left;
    left: -300px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: rgba(168, 203, 193, 0.5);
    filter: blur(50px);
}

.nav{
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: rgba(143, 150, 180, 0.0);
    width: 65%;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
    backdrop-filter: blur(10px);
}

.nav-list{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    background-color: transparent;
    margin: 0;
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
}

.nav-item{
    list-style: none;
    margin-right: 4rem;
    margin-left: 4rem;
}

a{
    color: white;
    text-decoration: underline 1px rgba(255, 255, 255, 0);
    transition: text-decoration-color 300ms;
}

a:hover{
    text-decoration-color: rgba(255, 255, 255, 1);
}


.header-container{
    position: relative;
    top: 150px;
}

h1{
    font-family: 'Yeseva One', cursive;
    font-size: 100px;
    font-weight: normal;
    position: relative;
    z-index: 1;
    text-align: left;
    margin: 0 auto;
    margin-left: 250px;
    top: 40px;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 200;
    max-width: 900px;
    top: 120px;
    text-align: left;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    margin-left: 250px;
}

.image-wave{
    position: relative;
    object-fit: scale-down;
    height: 100%;
    max-width: 1920px;
    top: -100px;
}

.explorebutton{
    position: relative;
    font-size: 35px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 200;
    margin: 0 auto;
    color: white;
    background-color: rgba(56, 85, 213, 0.2);
    backdrop-filter: blur(2px);
    width: 225px;
    height: 85px;
    top: -100px;
    transition: transform .2s;
}

#shadow{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    width: 240px;
    height: 30px;
    border-radius: 10px;
    transform: skewX(60deg);
    left: -60px;
    filter: blur(5px);
}


.active, .explorebutton:hover{
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
  }

.explorebutton a{
    color: white;
    text-decoration: none;
}

.exploreContainer{
    background-color: #89A13D;
}

.eat{
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    text-align: center;
    width: auto;
    background: linear-gradient(#89A13D, #184E77);
}

#eatcontainer:hover{
    transform: scale(1.05);
    z-index: 1;
}

.textbox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: 200;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3px);
    width: 1000px;
}


#eatcontainer{
    position: relative;
    text-align: center;
    transition: 0.1s;
    margin: 0 auto;
    width: 1000px;
    height: 300px;
    cursor: pointer;
    background-image: url("media/spencer-davis-W_GSHCi0cR8-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px, -50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-top: 50px;
}


#drinkcontainer{
    position: relative;
    text-align: center;
    transition: 0.1s;
    margin: 0 auto;
    width: 1000px;
    height: 300px;
    cursor: pointer;
    background-image: url("media/kelsey-knight-udj2tD3WKsY-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px, -50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#drinkcontainer:hover{
    transform: scale(1.05);
    z-index: 1;
}


#eventscontainer{
    position: relative;
    text-align: center;
    transition: 0.1s;
    margin: 0 auto;
    width: 1000px;
    height: 300px;
    cursor: pointer;
    background-image: url("media/al-elmes-ULHxWq8reao-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px, -50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#eventscontainer:hover{
    transform: scale(1.05);
    z-index: 1;
}


.aboutglenview{
    position: relative;
    padding-top: 300px;
    padding-bottom: 300px;
}

.aboutglenview h3{
    position: absolute;
    font-size: 40px;
    font-weight: 200;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 1px solid white;
    line-height: 66px;
}

#aboutthe{
    line-height: 50%;
    font-size: 15px;
}

#aboutthedescription{
    margin: 0 auto;
    max-width: 1000px;
    font-weight: 200;
    font-size: 16px;
    text-align: justify;
}


.footer{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 225px;
    background-color: #144265;
    width: 100%;
}

.footerleft{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    text-align: left;
}

#footertitle{
    float: left;
    margin-left: 20px;
    margin-top: 18px;
    font-size: 20px;
}

#footerphone{
    float: left;
    margin-left: 20px;
    font-size: 15px;
    text-decoration: underline;
    color: white;
    width: 250px;
}

#footerinfo{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 15px;
}

.footernav{
    font-size: 20px;
    font-weight: 200;
}


#footernavtitle{
    text-decoration: underline;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 200;
    text-align: start;
}

#footernavlist{
    margin-top: 10px;
    text-align: start;
    text-decoration: none;
    font-weight: 200;
    list-style: none;
}


















@keyframes colorchange{
    from{background-color: rgba(143, 150, 180, 0.0);}
    to{background-color:rgba(143, 150, 180, 0.2);}
}
